@tailwind base;
@tailwind components;
@tailwind utilities;



*{box-sizing: border-box;}

::-webkit-scrollbar{
    display: none;
}

.developer {
    display: inline-block;
    opacity: 0.1;
    transform: translateX(-150px); /* Initial position */
  }

a:hover {
    text-decoration: underline;
  }

  
  .dp {
    opacity: 0.2;
    transform: translate(35vw, 200px) scale(0.3);
}
